{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Register</title>
{% endblock title %}
{% block content %}
<h2 class="text-center alert alert-dark">Register</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-row row">
      <div class="form-group col-sm-6">
          <label for="exampleInputName0">Name</label>
          <input type="text" class="form-control" id="exampleInputName0" aria-describedby="textHelp" placeholder="Enter name" name="name">
          <small id="textHelp" class="form-text text-dark">Enter Full Name</small>
      </div>
      <div class="form-group col-sm-6">
          <label for="age">Date of Birth</label>
          <input type="date" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Age" name="dob" required>
      </div>
    </div>
    <div class="form-row row">
      <div class="form-group col-sm-6">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
          <small id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group col-sm-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
    </div>
    <div class="form-row row">
      <div class="form-group col-sm-6">
          <label for="weight">Weight(kg)</label>
          <input type="number" step="0.01" class="form-control" id="weight" aria-describedby="emailHelp" placeholder="Weight" name="weight" required>
      </div>
      <div class="form-group col-sm-6">
          <label for="height">Height(cm)</label>
          <input type="number" step="0.01" class="form-control" id="height" aria-describedby="emailHelp" placeholder="Height" name="height" required>
      </div>
    </div>
    <label class="form-check-label" for="radio1">Gender</label>
    <div class="form-row row">
      <div class="form-check col-sm-4 mx-3">
        <input class="form-check-input" type="radio" name="gender" id="male" value="M">
        <label class="form-check-label" for="male">
          Male
        </label>
      </div>
      <div class="form-check col-sm-4">
        <input class="form-check-input" type="radio" name="gender" id="female" value="F">
        <label class="form-check-label" for="female">
          Female
        </label>
      </div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1">Agree to our terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}